@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
layer(base);

@import "tailwindcss";

@theme {
  --color-primary-orange: #ff6418;
  --color-primary-light-green: #d6d700;
  --color-primary-light-blue: #85cfe8;
  --color-primary-light-yellow: #ffcc00;

  --color-secondary-red: #dd3221;
  --color-secondary-dark-red: #6a0038;
  --color-secondary-green: #00872d;
  --color-secondary-dark-green: #004840;
  --color-secondary-blue: #007fa7;
  --color-secondary-dark-blue: #002d69;
  --color-secondary-bg-blue: #dff7ff;

  --color-neutral-5: #f8f6f6;
  --color-neutral-10: #e5e5e5;
  --color-neutral-25: #bfbfbf;
  --color-neutral-50: #767676;
  --color-neutral-75: #404040;
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;

  --color-other-alert-yellow: #bc9703;

  --font-sans: var(--font-poppins);

  --text-h1: 2.5rem;
  --text-h1--line-height: 120%;
  --text-h1--font-weight: 700;
  --text-h2: 2rem;
  --text-h2--line-height: 120%;
  --text-h2--font-weight: 700;
  --text-h3: 1.75rem;
  --text-h3--line-height: 120%;
  --text-h3--font-weight: 600;
  --text-h4: 1.375rem;
  --text-h4--line-height: 120%;
  --text-h4--font-weight: 600;
  --text-alert: 0.875rem;
  --text-alert--line-height: 140%;
  --text-alert--font-weight: 400;
  --text-helper: 0.75rem;
  --text-helper--line-height: 166%;
  --text-helper--font-weight: 400;
  --text-primary-regular: 1rem;
  --text-primary-regular--line-height: 140%;
  --text-primary-regular--font-weight: 400;
  --text-primary-medium: 1rem;
  --text-primary-medium--line-height: 140%;
  --text-primary-medium--font-weight: 500;
  --text-primary-semibold: 1rem;
  --text-primary-semibold--line-height: 140%;
  --text-primary-semibold--font-weight: 600;
  --text-secondary-regular: 0.875rem;
  --text-secondary-regular--line-height: 143%;
  --text-secondary-regular--font-weight: 400;
  --text-secondary-medium: 0.875rem;
  --text-secondary-medium--line-height: 143%;
  --text-secondary-medium--font-weight: 500;
  --text-secondary-semibold: 0.875rem;
  --text-secondary-semibold--line-height: 143%;
  --text-secondary-semibold--font-weight: 600;
  --text-sm: 0.875rem;
  --text-sm--line-height: 143%;
  --text-sm--font-weight: 400;
  --text-xs: 0.75rem;
  --text-xs--line-height: 166%;
  --text-xs--font-weight: 400;

  --radius-none: 0;
  --radius-sm: 0.125rem;
  --radius: 4px;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-full: 9999px;

  --transition-duration: 500;

  --ease: cubic-bezier(0.4, 0, 0.2, 1);

  --z-index-drawer: 1200;
  --z-index-modal: 1300;
  --z-index-snackbar: 1400;
  --z-index-tooltip: 1500;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility h1 {
  @apply text-h1 font-bold;
}

@utility h2 {
  @apply text-h2 font-bold;
}

@utility h3 {
  @apply text-h3 font-semibold;
}

@utility text-regular {
  @apply text-base font-normal leading-[140%];
}

@utility text-medium {
  @apply text-base font-medium leading-[140%];
}

@utility text-semi {
  @apply text-base font-semibold leading-[148%];
}

@utility text-secondary {
  @apply text-sm leading-[143%];
}

@utility alert-text {
  @apply text-sm leading-[140%];
}

@utility helper-text {
  @apply text-xs leading-[166%];
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #171717;
    }
  }
}

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
    font-size: 16px;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}
